
.mobile-nav {
    display: flex;
    width: 60%;
    align-items: center;
}

.nav-link { 
    color: white;
    font-size: 20px;
    margin: 10px;
    width: 10px;
    text-decoration: none;
    padding: 9px 7px;

}

li > .active {
    text-decoration: none;
}

.nav-link:visited{
    color: white;
    background-color:rgb(201, 41, 41);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:active {
    color: white ;
    background-color: rgb(201, 41, 41);
    border: 2px rgba(159, 173, 159, 0.938) solid;
    padding: 7px 5px;
    text-decoration: none;
    border-radius: 9%;
}

.navbar-name:hover, .navbar-name:active{
    text-decoration: none;
}

.container-fluid {
    align-items: center;
}

.nav-list {
    height: 100%;
    align-items: center;
    display: none;
}


.mobile-nav > * {
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.menu-btn {
    display: inline;
    margin: 2px 15px;

    padding: 6px;
}

.navbar-nav {
    display: none;
}

.navbar-brand, .navbar-name {
    color: white;
    font-size: 24px;
    margin: 0 7px;
    padding: 15px 4px;
}

.navbar {
    background-color: rgb(201, 41, 41);
    cursor: pointer;
}

header {
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
    z-index: 400;
}

ul {
    margin-bottom: 0;
    list-style-type: none;
}

.logo-head {
    border: 0;
    margin-right: 0;
}

@media (min-width: 700px){
    .menu-btn {
        display: none;
    }

    .logo-head {
        margin-right: 15px;
    }

    .mobile-nav {
        width: 12%;
    }

    .navbar-nav {
        display: table;
    }

    .nav-list {
        display: block;
    }
    .nav-list > ul {
        display: flex;
        justify-content: flex-end;
    }
    

}