.comment {
    display: flex;
    flex-direction: row;
    padding: 15px 5px;
    border: 2px black solid;
    margin: 0 3px 10px 3px;
    background-color: white;
    max-height: 250px;
    overflow: scroll;
}

.comment:last-child {
    margin-bottom: 0;

}

.comment > div {
    margin-left: 10px;
    padding-right: 5px;
}

.comment > div > img {
    width: 50px;
}
.commentBtn {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.commentBtn > div > * {
    width: 25px;
    height: 25px;
    background-color: rgb(201, 41, 41);
}
.comment > p {
    width: 80%;
    padding: 0 5px;
}

@media (min-width: 900px) {
    .comment {
        flex-direction: row;
        max-height: 500px;

    }
    .comment > div {
        margin-left: 0;

    }

    .comment > div > img {
        object-fit: cover;
        max-width: 50px;
        max-height: 50px;
    }

    .comment > p {
        width: calc(82%-40px);
    }
    
    
}