.comment {
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
    border: 2px black solid;
    margin: 0 10px 10px 10px;
    background-color: white;
    max-height: 250px;
    overflow: scroll;
}

.comment:last-child {
    margin-bottom: 0;

}

.comment > img {
    width: 40%;
    margin-left: 10px;
}
.comment > .commentBtn {
    width: 100%;
}
.commentBtn > button {
    width: 100%;
}
.comment > p {
    width: 80%;
    padding: 0 5px;
}

@media (min-width: 900px) {
    .comment {
        flex-direction: row;
        max-height: 500px;

    }
    .comment > img {
        object-fit: cover;
        min-width: 15%;
        margin-left: 0;
        max-height: 100px;
    }

    .comment > p {
        width: 67%;
    }
    .comment > .commentBtn {
        width: 18%;
    }
    
}