.ViewPostImg > img {
    width: 85%;
    overflow: auto;
}

.ViewPostImg {
    width: 100%;
    align-items: center;
    text-align: center;
}



@media (min-width: 600px) and (max-width: 1100px) {
    .ViewPostImg > img {
        height: 40%;
    }
}

@media (min-width: 1100px) {
    .ViewPostImg > img {
        height: 60%;
        width: 75%;
        
    }
}